/* Fuentes de letras
  font-family: 'Righteous', cursive;
  font-family: 'Kanit', sans-serif;
*/

html{
    scroll-behavior: smooth;
}
  
body{
    font-family: 'Kanit', sans-serif;
}
  
h1{
    font-family: 'Righteous', cursive;
    padding-top: 20%;
}
h2{
    font-family: 'Kanit', sans-serif;
}
  
h3{
    font-family: 'Righteous', cursive;
    font-size: x-large;
    text-align: center;
}

h4{
    font-family: sans-serif;
    font-weight: bold;
    color:#575151;
}
  
.hero-section {
    text-align: center;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100%;
    color: #ffffff;
    text-shadow: 0.100em 0.15em 0.100em #707070;
    padding: 6.25rem 3.125rem;
}
  
#sobre-mi{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

@media screen and (max-width: 600px) {
    .ocultar-div{
    display:none;
    }
}
  
#hr_margin{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
    border-top: 3px solid;
}
  
#cards{
    width: 50%;
    margin: 0 auto;
}

.card i{
    color: indigo;
}
  
#carousel{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}
  
#contacto{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: center;
    padding-bottom: 5%;
}
  
footer {
    padding: 4.5rem;
    text-align: center;
}
  
#icons{
    text-align: center;
    margin-top: 3rem;
}
  
#nombre{
    text-align: right;
    padding: center;
}
  
.oscuro {
    background: #000f08;
    color: #ffffff;
    text-align: center;
}
  
a{
    color: #ffffff;
}

@media (max-width: 600px) {
    .hero-section{
        background-position: center;
    }
    h1{
        padding-top: 95%;
    }
}